<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="/img/aboutme.avif">
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam natus mollitia, aliquid architecto vero sit! Voluptatibus, consequuntur officiis quisquam non, alias animi voluptates, repudiandae maiores unde earum aut eveniet sunt?</p>

                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="opentab(event, 'skills')">Skills</p>
                    <p class="tab-links" onclick="opentab(event, 'experience')">Experience</p>
                    <p class="tab-links" onclick="opentab(event, 'education')">Education</p>
                </div>

                <div class="tab-contents active-tab" id="skills">
                    <ul>
                        {{#each skillsData}}
                            <li><span>{{this.title}}</span><br>{{this.description}}</li>
                        {{/each}}
                    </ul>
                </div>

                <div class="tab-contents" id="experience">
                    <ul>
                        {{#each experienceData}}
                            <li><span>{{this.year}}</span><br>{{this.company}}</li>
                        {{/each}}
                    </ul>
                </div>

                <div class="tab-contents" id="education">
                    <ul>
                        {{#each educationData}}
                            <li><span>{{this.year}}</span><br>{{this.institution}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");

    function opentab(event, tabname) {
        for (tablink of tablinks) {
            tablink.classList.remove("active-link");
        }
        for (tabcontent of tabcontents) {
            tabcontent.classList.remove("active-tab");
        }
        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab");
    }
</script>
