<div id = "portfolio-details">
    <h1>{{portfolio.pname}}</h1>
    <p>Year: {{portfolio.pyear}}</p>
    <p>Type: {{portfolio.ptype}}</p>
    <p>Description: {{portfolio.pdesc}}</p>
    <img src="{{portfolio.pimgURL}}" alt="{{portfolio.pimgURL}}">
    <div class="img-responsive">
        <a href="/portfolio" class="btn btn-link">Back to portfolio</a>
    </div>
</div>