<div id="services">
    <div class="container">
        <br>
        <br>
        <br>
        <h1 class="subtitle">My Services</h1>
        <div class="services-list">
            <div id="fo">
                <i class="fas fa-code"></i>
                <h2>{{webDesignTitle}}</h2>
                <p>{{webDesignContent}}</p>
                <a href="{{webDesignLink}}">Learn more</a>
            </div>
            <div id="fi">
                <i class="fas fa-crop-alt"></i>
                <h2>{{uiUxDesignTitle}}</h2>
                <p>{{uiUxDesignContent}}</p>
                <a href="{{uiUxDesignLink}}">Learn more</a>
            </div>
            <div id="fp">
                <i class="fab fa-app-store"></i>
                <h2>{{appDesignTitle}}</h2>
                <p>{{appDesignContent}}</p>
                <a href="{{appDesignLink}}">Learn more</a>
            </div>
        </div>
    </div>
</div>
